openapi: 3.0.3
info:
  title: Kundbehovsflöde API
  version: 1.0.0
  description: API för att hämta och lagra kundbehovsflödesinfo, samt för att kicka igång nya kundbehov.

paths:
  /kundbehovsflode:
    post:
      tags: [KundbehovsflodeController]
      operationId: postKundbehovsflode
      summary: Skapa ett nytt kundbehovsflöde
      description: Skapa ett nytt kundbehovsflöde för ett speficikt kundbehov
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                kundbehovId:
                  type: string
                  format: uuid
                  description: Kundbehovets id
              required:
                - kundbehovId
      responses:
        '201':
          description: Kundbehovsflöde skapat OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostKundbehovsflodeResponse'
        '400':
          description: Bad request (t.ex. felaktigt kundbehovId)
  /kundbehovsflode/{kundbehovsflodeId}:
    get:
      tags: [KundbehovsflodeController]
      operationId: getKundbehovsflode
      summary: Hämta kundbehovsflöde
      description: Hämta kundbehovsflödet knytt till kundbehovsflodeId
      parameters:
        - name: kundbehovsflodeId
          in: path
          required: true
          description: Kundbehovsflödets id
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Kundbehovsflöde hämtat OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/GetKundbehovsflodeResponse'
        '400':
          description: Bad request (t.ex. felaktigt kundbehovsflodeId)
    put:
      tags: [KundbehovsflodeController]
      operationId: putKundbehovsflode
      summary: Uppdatera kundbehovsflöde
      description: Uppdatera kundbehovsflödet för kundbehovsflodeId
      parameters:
        - name: kundbehovsflodeId
          in: path
          required: true
          description: Kundbehovsflödets id
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PutKundbehovsflodeRequest'
      responses:
        '200':
          description: Kundbehovsflöde uppdaterat OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PutKundbehovsflodeResponse'
        '400':
          description: Bad request (t.ex. felaktigt kundbehovsflodeId)
  /kundbehov:
    post:
      tags: [KundbehovController]
      operationId: postKundbehov
      summary: Skapar ett nytt kundbehov
      description: Skapar ett nytt kundbehov
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PostKundbehovRequest'
            example:
              persnr: "19900101-1234"
              formanstyp: "VAH"
              period:
                start: "2025-01-01T00:00:00Z"
                end: "2025-12-31T23:59:59Z"
      responses:
        '201':
          description: Skapat kundbehov OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PostKundbehovResponse'

components:
  schemas:
    Kundbehovsflode:
      type: object
      description: Kundbehovsflöde, ärendeinstans
      properties:
        id:
          type: string
          description: Kundbehovsflödets unika ID
          format: uuid
        kundbehov:
          $ref: '#/components/schemas/Kundbehov'
        version:
          type: string
          description: Kundbehovsflödets version
        processinstansId:
          type: string
          description: BPMN processinstansens unika ID
          format: uuid
        skapadTS:
          type: string
          description: DateTime när kundbehovsflödet skapades, enligt ISO 8601
          format: date-time
        avslutadTS:
          type: string
          description: DateTime när kundbehovsflödet avslutades, enligt ISO 8601
          format: date-time
        kundbehovsspecifikation:
          $ref: '#/components/schemas/Kundbehovsflodespecifikation'
      required:
        - id
        - processinstansId
        - kundbehov
    Kundbehov:
      type: object
      description: Kundbehov
      properties:
        id:
          type: string
          description: Kundbehovets unika ID
          format: uuid
        formanstyp:
          type: string
          description: Typ av förmån
        version:
          type: string
          description: Kundbehovets version
        kundbehovsdatum:
          type: string
          description: Datetime när kundbehovet uppstod, enligt ISO 8601
          format: date-time
        kundbehovsstatus:
          $ref: '#/components/schemas/Kundbehovsstatus'
        period:
          $ref: '#/components/schemas/Period'
        avsikt:
          $ref: '#/components/schemas/Avsikt'
        andringsorsak:
          type: string
          description: Orsak till ändring av kundbehovet
        kundbehovsroll:
          type: array
          description: Rollerna i kundbehovet
          items:
            $ref: '#/components/schemas/Kundbehovsroll'
      required:
        - id

    Kundbehovsstatus:
      type: string
      description: Kundbehovsstatus
      enum:
        - PLANERAT
        - YRKAT
        - UNDER_UTREDNING
        - FASTSTALLT_UNDER_UTREDNING
        - FASTSTALLT

    Period:
      type: object
      description: En tidsperiod med start och slut
      properties:
        start:
          type: string
          format: date-time
          description: Startdatum/tid för perioden, enligt ISO 8601
        slut:
          type: string
          format: date-time
          description: Slutdatum/tid för perioden, enligt ISO 8601
      required:
        - start
        - end

    Avsikt:
      type: string
      description: Avsikt
      enum:
        - NY
        - ANDRING
        - BORTTAG
        - ATERTAGEN

    Kundbehovsroll:
      type: object
      description: Roll i kundbehovet
      properties:
        id:
          type: string
          description:  unika ID
          format: uuid
        individ:
          $ref: '#/components/schemas/Individ'
        roll:
          $ref: '#/components/schemas/Roll'
        yrkande:
          type: boolean
          description: Yrkande
      required:
        - id
        - individ
        - roll
        - yrkande

    Individ:
      type: object
      description: Individ
      properties:
        id:
          type: string
          description: Svenskt personnummer, 12 siffror med bindestreck (YYYYMMDD-XXXX)
          pattern: '^\d{8}-\d{4}$'
        fornamn:
          type: string
          description: Förnamn
        efternamn:
          type: string
          description: Efternamn
      required:
        - id
        - fornamn
        - efternamn

    Kundbehovsflodespecifikation:
      type: object
      description: Kundbehovsflödespecifikation, ärendeslag
      properties:
        id:
          type: string
          description: Kundbehovsflödespecifikationens unika ID
          format: uuid
        version:
          type: string
          description: Kundbehovsflödespecifikationens version
        bpmn:
          type: string
          description: BPMN processbeskrivning
        namn:
          type: string
          description: Namnet på kundbehovsflödespecifikationen
        beskrivning:
          type: string
          description: Beskrivning av kundbehovsflödespecifikationen
        uppgiftspecifikation:
          type: array
          description: En eller flera uppgiftsspecifikationer som ingår i kundbehovsflödespecifikationen
          items:
            $ref: '#/components/schemas/Uppgiftspecifikation'
      required:
        - id

    Uppgiftspecifikation:
      type: object
      description: Uppgiftsspecifikation
      properties:
        id:
          type: string
          description: Uppgiftsspecifikationens unika ID
          format: uuid
        version:
          type: string
          description: Uppgiftsspecifikationens version
        namn:
          type: string
          description: Namnet på uppgiftsspecifikationen
        uppgiftbeskrivning:
          type: string
          description: Beskrivning av uppgiften i mer detalj
        verksamhetslogik:
          description: Beteckning för verksamhetslogiken i uppgiften
          $ref: '#/components/schemas/Verksamhetslogik'
        roll:
          description: Behörighetsroll för uppgiften
          $ref: '#/components/schemas/Roll'
        applikationsId:
          description: ID för applikation som hanterar uppgiften
          type: string
        applikationsVersion:
          description: Version för applikation som hanterar uppgiften
          type: string
        regel:
          type: array
          description: En eller flera regler som styr uppgiften
          items:
            $ref: '#/components/schemas/Regel'
        uppgiftsGui:
          type: string
          description: GUI komponent för uppgiften
      required:
        - id

    Verksamhetslogik:
      type: string
      description: Verksamhetslogik
      enum:
        - A
        - B
        - C

    Roll:
      type: string
      description: Roll i kundbehovet
      enum:
        - AGARE
        - DJUR
        - ANSVARIG_HANDLAGGARE

    Regel:
      type: object
      description: Regel
      properties:
        id:
          type: string
          format: uuid
          description: Regelns unika ID
        version:
          type: string
          description: Version av regeln
        lagrum:
          type: array
          description: Ett eller flera Lagrum som Regeln hänvisar till
          items:
            $ref: '#/components/schemas/Lagrum'
      required:
        - id

    Lagrum:
      type: object
      description: Lagrum
      properties:
        id:
          type: string
          description: Lagrummets unika ID
          format: uuid
        version:
          type: string
          description: Lagrummets version
        giltigFrom:
          type: string
          description: DateTime för starttiden av giltighet, enligt ISO 8601
          format: date-time
        giltigTom:
          type: string
          description: DateTime för sluttiden av giltighet, enligt ISO 8601
          format: date-time
        forfattning:
          type: string
          description: Avser vilken författning Lagrummet är av
        kapitel:
          type: string
          description: Avser vilket kapitel av författningen Lagrummet är av
        paragraf:
          type: string
          description: Avser vilket paragraf i kapitlet Lagrummet är av
        stycke:
          type: string
          description: Avser vilket stycke i paragrafen Lagrummet är av
        punkt:
          type: string
          description: Avser vilken punkt i stycket Lagrummet är av
      required:
        - id

    GetKundbehovsflodeResponse:
      type: object
      description: Svar vid hämtning av kundbehovsflöde
      properties:
        kundbehovsflode:
          $ref: '#/components/schemas/Kundbehovsflode'
      required:
        - kundbehovsflode

    PutKundbehovsflodeRequest:
      type: object
      description: Data som krävs för att uppdatera ett kundbehovsflöde
      properties:
        kundbehovsflode:
          $ref: '#/components/schemas/Kundbehovsflode'
      required:
        - kundbehovsflode

    PutKundbehovsflodeResponse:
      type: object
      description: Svar vid uppdatering av kundbehovsflöde
      properties:
        kundbehovsflode:
          $ref: '#/components/schemas/Kundbehovsflode'
      required:
        - kundbehovsflode

    PostKundbehovsflodeResponse:
      type: object
      description: Svar vid skapande av ett nytt kundbehovsflöde
      properties:
        kundbehovsflode:
          $ref: '#/components/schemas/Kundbehovsflode'
      required:
        - kundbehovsflode

    PostKundbehovRequest:
      type: object
      description: Data som krävs för att skapa ett nytt kundbehov
      properties:
        persnr:
          type: string
          description: Svenskt personnummer, 12 siffror med bindestreck (YYYYMMDD-XXXX)
        formanstyp:
          type: string
          description: Typ av förmån
        period:
          $ref: '#/components/schemas/Period'
      required:
        - persnr
        - formanstyp
        - period

    PostKundbehovResponse:
      type: object
      description: Svar vid skapande av ett nytt kundbehov
      properties:
        kundbehov:
          $ref: '#/components/schemas/Kundbehov'
      required:
        - kundbehov
